
    {% extends 'base/main.html'%}
    {% block content %}


    <div class="header-bar">
        <div>
            <h1>Hello {{request.user| title}}</h1>
            <h3 style="margin: 0;">You have <i>{{count}}</i> incomplete task{{count|pluralize:"s"}}</h3>
        </div>
    {%if request.user.is_authenticated%}
    
    <a href="{% url 'logout'%}">Logout</a>
    {%else%}
    <a href="{% url 'login'%}">Login</a>
    {%endif%}
    </div>

    
    <h1 style="text-align: center; color:indianred">Task List</h1>
    <div id="search-add-wrapper">
        <form style="display: flex;" action="" method="get">
            <input type="text" value="{{search_input}}" name="search_area" id="">
            <input type="submit" class="button" name="" value="Search" id="">
        </form>
        <a id="add-link" href="{% url 'task_create'%}">&#x2b;</a>
    </div>
    
    <div class="task-items-wrapper">
        {% for task in tasks %}
        <div class="task-wrapper">
            {% if task.complete %}
            <div class="task-title">
                <div class="task-complete-icon"></div>
                    <i><s><a href="{% url 'task_update' task.id %}">{{task}}</a></s></i>
                
            </div>
            <a class="delete-link" href="{% url 'task_delete' task.id %}">&#215;</a>
            {% else %}
            <div class="task-title">
                <div class="task-incomplete-icon"></div>
                    <a href="{% url 'task_update' task.id %}">{{task}}</a>
                
            </div>
            <a class="delete-link" href="{% url 'task_delete' task.id %}">&#215;</a>

            {% endif %}
            
        </div>

        {% empty %}
        <div class="card-body">
            <h3>No items in list</h3>
        </div>
           
        {% endfor%}

    </div>
    <!-- <table>
        <tr>
            <th>ITEMS</th>
            <th> </th>
        </tr>
       
        
        {% for task in tasks %}
            <tr>
                <td>
                    {{task.title}}
                </td>
                
                <td><a href="{% url 'task_update' task.id %}">Update</a></td>
                <td><a href="{% url 'task_delete' task.id %}">Delete</a></td>

            </tr>
            {% empty %}
            <h3>No items in list</h3>
        {% endfor%}
    </table> -->


    {% endblock content%}
   
