{% extends 'base/main.html'%}
{% block content %}
<div class="header-bar">
    <a href="{% url 'tasks'%}">&#8592;Back</a>
</div>

    <h1 style="color: coral;text-align: center;">Task Form</h1>

   
    <div class="card-body">
        <form  method="post" action="">
            {% csrf_token%}
            {{form.as_p}}
            <!--or  {{form}} : horizontal layout ,{{form.as_p}}: vertical layout-->
            <input type="submit" class="button" name="" value="Add" id="">
        </form>

    </div>
    
    
{% endblock content %}